@media (min-width:541px){
    .side-bar{
        display: block !important;
    }
}

@media (max-width: 540px) {

    /* Header */
    .admin-logo {
        top: 10px;
        left: 10px;
    }

    .admin-logo img {
        width: 200px;
        height: auto;
    }

    .login-page {
        width: 80%;
        padding: 15px;
    }

    .adminJoin {
        padding: 10px;
        margin: 20px 0 0 0;
        font-size: 14px;
    }

    /* Admin Login */
    .header {
        display: none;
    }

    .side-bar {
        display: none;
    }

    .burger-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .dashboard {
        padding-left: 0;
    }

    .panel {
        flex-direction: column;
    }

    .side-bar {
        width: 100%;
        height: 100%;
    }

    .book-form,
    .about-store {
        margin-left: 0 20px;
    }

    .about-store h2 {
        margin: 4rem 0 0 0;
    }

    /* Table */
    .dash-table {
        margin: 4rem 20px;
    }

    .content,
    .book-form,
    .about-store {
        margin: 0 20px;
    }

    .mobile-header {
        display: block;
        margin: 20px 0 0 20px;
    }

    .search-area input {
        width: 320px;
    }


    /* Burger Menu */

    .mobile-logo {
        width: 170px;
        margin-bottom: 2rem;
    }

    .burger-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .burger-close {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .side-bar {
        display: none;
        height: 110vh;
    }

    .dashboard {
        padding-left: 0;
    }

    .panel {
        flex-direction: column;
    }

    /* Join us Table */

    .join-us-table {
        width: 400px;
    }

    .join-us-table th,
    .join-us-table td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* Books Table */

    .book-table {
        width: 400px;
        table-layout: fixed;
        /* Tablo genişliğini sabitle */
    }

    /* Image ve Description sütunlarını gizle */
    .book-table th:nth-child(2),
    .book-table td:nth-child(2),
    .book-table th:nth-child(4),
    .book-table td:nth-child(4) {
        display: none;
    }

    .book-table th,
    .book-table td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .book-table th:first-child,
    .book-table td:first-child {
        padding-left: 0;
        margin-left: 0;
    }

    /* Contact Us Table */

    .contact-table {
        width: 400px;
    }

    .contact-table th,
    .contact-table td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}