@media (max-width: 540px) {

    /* Header */
    .admin-logo {
        top: 10px;
        left: 10px;
    }

    .admin-logo img {
        width: 200px;
        height: auto;
    }

    .login-page {
        width: 80%;
        padding: 15px;
    }

    .adminJoin {
        padding: 10px;
        margin: 20px 0 0 0;
        font-size: 14px;
    }

    /* Admin Login */
    .header {
        display: none;
    }

    .side-bar {
        display: none;
    }

    .burger-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .dashboard {
        padding-left: 0;
    }

    .panel {
        flex-direction: column;
    }

    .side-bar {
        width: 100%;
        height: 100%;
    }

    .book-form,
    .about-store {
        margin-left: 0 20px;
    }

    .about-store h2 {
        margin: 4rem 0 0 0;
    }

    /* Table */
    .dash-table {
        margin: 4rem 20px;
    }

    .content,
    .book-form,
    .about-store {
        margin: 0 20px;
    }

    .mobile-header {
        display: block;
        margin: 20px 0 0 20px;
    }

    .search-area input {
        width: 320px;
    }


    /* Burger Menu */

        .mobile-logo{
            width: 170px;
            margin-bottom: 2rem;
        }
    
        .burger-menu {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

        .burger-close {
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

        .side-bar {
            display: none;
            height: 110vh;
        }

        .dashboard {
            padding-left: 0;
        }

        .panel {
            flex-direction: column;
        }

}