/* //----------------------------------------- Response for tablet mod */

@media only screen and (max-width: 768px) {
    .book{
      display: flex;
      flex-direction: column;
      margin-left: 15%;
    }
    .books h3 {
      margin-left: -35px;
    }
    .category{
      margin-left: -2%;
      margin-bottom: 2%;
    }
    #janr{
      width: 50%;
      margin-left: 35%;
    }
    .newP{
      margin-left: 65%;
    }
  }

  @media only screen and (max-width: 920px) { 
    .books{
      margin-left: -5%;
    }
  }
  
  /* //----------------------------------------- Response for mobile mod */

  
  @media only screen and (max-width: 576px) {
    .book{
      display: flex;
      flex-direction: column;
    }
    .newP{
      margin-left: 65%;
    }
    .books{
      margin-left: -3%;
      display: flex;
      height: 26.977px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      width: 281px;
    }
    #kids{
      display: none;
    }
    .splide{
      width: 50%;
      margin-left: 20%;
    }
    .allBtn{
      margin-left: 60px;
    }
    #load1{
      margin-left: 190px;
    }
    #load2{
      margin-left: 190px;
    }
    #load3{
      margin-left: 190px;
    }
    #splide1{
      margin-left: 135px;
    }
    #splide2{
      margin-left: 135px;
    }
    #splide3{
      margin-left: 135px;
    }
    #splide4{
      margin-left: 135px;
    }
    #splide5{
      margin-left: 135px;
    }
    #splide6{
      margin-left: 135px;
    }
    #splide7{
      margin-left: 135px;
    }

  }
  