/* @media screen and (max-width: 320px) {
    .inputs {
        grid-template-columns: 1fr; 
    }
} */


@media screen and (max-width: 320px) {
body{
    width: 320px;
    overflow-x: hidden;
}
    .name,
    .email,
    .address,
    .phone,
    .note {
        width: 100%; 
        margin-bottom: 20px; 
    }
    .button{
        width: 100%; 
        margin-bottom: 20px; 
    }

    
    .name,
    .email {
        width: 100%;
    }
}
.forum{
    width: 320px;
    height: 1193px; 
}