@media screen and (max-width: 420px) {
    body {
        /* width: 320px; */
        overflow-x: hidden;
    }

    h2 {
        display: flex;
        width: 157px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 10px;
        color: var(--, #241400);
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: 196.187%;
    }

    .contact-form {
        margin-right: 5rem;
    }

    .name,
    .email,
    .address,
    .phone {
        width: 250px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .inputs{
       
        text-align: center;
        margin: 0 auto;
    }

    .forum input{
        border: 1px solid #CECECE;

    }

    .btns{
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .button {
        height: 37px;
        margin: 0 auto;
        border-radius: 5px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 49px;
        padding: 10px 7rem 20px;
    }

    .note {
        display: none;
    }
}