@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #FFFAF5;
}

.moreDetails{
  cursor: pointer;
}

.back-button {
  width: 100px;
  height: 29px;
  background-color: #E16A00;
  border: 1px solid #E16A00;
  border-radius: 5px;
  margin-top: 173px;
  margin-left: 6.5%;
  padding-bottom: 20px;
}

.back-button a {
  text-decoration: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;

}

.year {
  width: 69px;
  height: 23px;
  background-color: #2F80ED;
  text-align: center;
  color: #FFF;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  padding: 4px 15px;
}

.bookName {
  color: #241400;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%;
}

.day {
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.book-author {
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;

}


.description {
  display: flex;
  width: 686px;
  height: 272px;
  flex-direction: column;
  justify-content: center;
  color: var(--, #241400);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}


.book-img img {
  width: 379px;
  height: 529px;
}




.book-info {
  display: flex;
  justify-content: space-around;

}

.book-details{
  margin-top: 80px;
}


/* .book-img {
  position: relative;
} */



/* .new-icon {
  width: 94px;
  height: 28px;
  background-color: #ff0000;
  border-radius: 2px;
  text-align: center;
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 20px;

} */




.input {
  width: 43%;
  height: 60px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 53px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-top: 102px;
  margin-left: 9%;
}

#comment-inp {
  border: none;
  width: 100%;
  /* margin-left: 38px; */
  outline: none;
  padding-left: 10px;
}

#send-button {
  width: 60px;
  height: 60px;
  background-color: #E16A00;
  color: white;
  border: none;
  border-radius: 5px;
}

.book-container {
  width: 42%;
  margin-left: 9%;
  margin-bottom: 43px;
  padding: 18px 30px;
  border-radius: 5px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.box {
  display: flex;
  align-items: center;
  gap: 26px;
}

.bookText {
  padding: 0;
}