body {
    background: #FFFAF5;
}

.searchMain {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.searchLeftContainer {
    padding-left: 0px;
}

.searchText {
    color: #241400;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 70.63px;
    word-wrap: break-word;
    padding-left: 20px;
}

.searchText h1 {
    font-size: 35px;
    font-weight: 700;
    color: #241400;
}

.searchInputButton {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

#searchBtn {
    width: 300px;
}

.searchInputButton input {
    height: 60px;
    font-size: 23px;
    width: 360px;
    padding: 20px;
    font-weight: 400;
    font-family: 'Crimson Text';
    color: #E16A00;
    outline: none;
    padding-left: 27px;
    border: 1px solid #CECECE;
    border-radius: 5px;
}

.searchInputButton::placeholder {
    color: #241400;
    font-size: 19px;
    font-family: 'Crimson Text';
    font-weight: 200;
    word-wrap: break-word;
}

.searchInputButton button {
    margin-top: 45px;
    height: 60px;
    width: 360px;
    background-color: #E16A00;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Crimson Text';
    color: #fff;
    border-radius: 5px;
}

.searchInputButton button:hover {
    opacity: 0.8;
}

.searchAboutBook {
    width: 50%;
    position: relative;
    padding-top: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    padding-left: 30px;
    padding-top: 40px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;
}

.card-title {
    margin: 10px 0;
    color: #241400;
    font-size: 1.5em;
}

.card-subtitle {
    margin: 0 0 10px;
    color: #4b4137;
    font-size: 1.2em;
}

.card-text {
    margin: 0 0 10px;
    color: #120a00;
    white-space: wrap;
    overflow: hidden;
    width: 350px;
    font-size: 1em;
}

.vector-icon {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 46px;
    object-fit: contain;
}

.text-center-error {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #E16A00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding-top: 15px;
    /* background-color: #f7f7f7;
    padding: 10px;
    border: 2px solid #db5b34;
    border-radius: 5px;
    text-align: center;
    margin: 20px; */
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
        max-width: 750px;
        height: 500px;
    }

    .card img {
        width: 200px;
        height: 300px;
        border-radius: 8px 0 0 8px;
    }

    .insideCard {
        display: flex !important;
    }

    .insideCard div:first-child {
        margin-top: 65px;
        width: 200px;
        margin-left: 30px;
    }

    .bookText {
        margin-top: 65px;
        margin-left: 35px;
        margin-right: 30px;
    }

    .bookText h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0em;
        color: #241400;
    }

    .bookText h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 19px;
        font-weight: lighter;
        line-height: 35px;
        letter-spacing: 0em;
        color: #4b4137;
    }

    .bookText p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        color: #120a00;
        width: 390px;
    }

    .splide__arrows {
        display: none;
    }

    .search-container {
        margin: 20px;
        text-align: center;
    }

    #inputSearch {
        padding: 10px;
        width: 300px;
    }

    .searchInputButton {
        padding: 10px 20px;
        cursor: pointer;
    }

    .insideCard {
        margin: 20px auto;
        max-width: 800px;
    }

    /* .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 60px;
        height: 60px;
        display: block;
    } */

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .carousel-control-prev-icon {
        background-image: url('../../assets/icons/Vector2.svg');

    }

    .carousel-control-next-icon {
        background-image: url('../../assets/icons/Vector3.svg');
    }

    .vector-icon {
        display: none;

    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;

    }

    #nex {
        display: none;
        padding-top: 250px;
        padding-right: 50px;

    }

    #pre {
        display: none;
        padding-top: 250px;
        padding-left: 50px;
    }
}