@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar-nav a{
    font-family: "Montserrat", sans-serif;
    color: #241400;
    font-size: 12px;
    font-weight: 400;
    line-height: 23.54px;
    padding: 0;
}

.active-page{
    color: #E16A00 !important;
    border-bottom: 1px solid #E16A00;
    font-weight: bold;
}

#join-text{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 11px;
}

.marg-l{
    margin-left: 215px;
}
